* {
  font-family: 'Open Sans', sans-serif;
}

.bg-black { background-color: #000000; }

.border-2 { border: 2px solid #e9ecef }
.border-3 { border: 3px solid #e9ecef }
.border-4 { border: 4px solid #e9ecef }
.border-5 { border: 5px solid #e9ecef }

.btn {
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  padding: 10px 40px;
}

.btn-link:hover {
  text-decoration: none;
}

#heading-name {
  position: relative;
}
#heading-plex {
  position: absolute;
  bottom: -0.4rem;
  font-size: 1rem;
  right: 0.8rem;
  text-transform: none;
}

#heading-plex img {
  margin-top: -11px;
  margin-left: -5px;
  height: 38px;
  display: inline-block;
}

/*em {*/
  /*color: #E5A00D*/
/*}*/

.support-button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.support-button .col-md-3 a {
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #ccc;
  display: block;
  height: 90px;
  line-height: 96px;
  width: 90px;

  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.support-button .col-md-3 a:hover {
  color: #E5A00D;
  border: 2px solid #E5A00D;
}

.support-button .col-md-3 a:hover {
  text-decoration: none !important;
}

.footer-content > p {
  font-size: 12px;
}

.nav-link.text-alabaster {
  text-transform: uppercase;
}
.btn.bg-gamboge {
  font-weight: bold;
  text-transform: uppercase;
}
.btn.bg-gamboge:hover {
  color: #E5A00D !important;
  background-color: #FFF !important;
}
h2 {
  text-transform: uppercase;
}
.sec-title h2:after {
  border-bottom: 1px solid #E5A00D;
  content: "";
  display: block;
  bottom: -25px;
  position: relative;
  width: 150px;
  margin: 0 auto;
}
.blockquote {
  font-size: 1rem;
}